<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block text-block-flex">
      <h2>Bienvenid&#64;!</h2>
      <h4>Hola... Soy Lucía Carletta...</h4>
      <div class="lucia-flex">
        <img src="assets/fotos/lucia.jpg" alt="Lucia" class="img-lucia">
        <p>Estoy aquí para guiarte en tu viaje hacia un cuerpo más fuerte, flexible y en armonía. Como instructora de Pilates Clásico, mi pasión va más allá de las posturas; mi objetivo es reconectar tu mente y tu cuerpo a través del movimiento.
        </p>
      </div>
    </div>
    <div class="text-block">
      <p>Mi formación comenzó en 2017, cuando obtuve la certificación como Instructora de Pilates Reformer en niveles básico, intermedio y avanzado, en el Estudio de mi gran profesora Sayda Ferreyra en Córdoba, con sólidas bases en  Pilates Clásico . 
      Ese mismo año, me gradué en el Instituto Privado de Educación Física (IPEF) como Profesora de Gimnasia Integral y Personal Trainer de Gimnasia Integral, lo que me brindó una sólida base en movimiento, entrenamiento y salud.
      </p>
      <p>En 2019 realicé una nueva certificación con Sayda Ferreyra , como Instructora de Pilates Reformer, en sus tres niveles ,  profundizando en el método y ampliando mis herramientas para trabajar con diferentes niveles y necesidades.
      </p>
    </div>
    <div class="text-block">
      <p>Desde entonces, continúo capacitándome de manera permanente, integrando lo mejor de la educación física y el pilates para ofrecer clases seguras, personalizadas y adaptadas a cada alumno.</p>
    </div>
    <div class="volver-inicio">
      <button (click)="volverAlInicio()">Volver a Inicio</button>
    </div>
  </div>

</section>
