<app-header></app-header>

<main class="container" data-scroll-container>
  <router-outlet></router-outlet>
</main>


<!-- Íconos de redes fijos -->
<div class="social-column position-fixed top-50 start-0 translate-middle-y">
  <div class="mb-2">
    <a href="https://www.facebook.com/luciacarletta" target="_blank" rel="noopener noreferrer"aria-label="Facebook">
      <i class="fa-brands fa-square-facebook fa-2xl"></i>
    </a>
  </div>

  <div class="mb-2">
    <a href="https://wa.me/5493517152375" target="_blank" rel="noopener noreferrer" aria-label="Whatsapp">
      <i class="fa-brands fa-square-whatsapp fa-2xl"></i>
    </a>
  </div>

  <div class="mb-2">
    <a href="https://www.instagram.com/carlettalucia/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <i class="fa-brands fa-square-instagram fa-2xl"></i>
    </a>
  </div>

  <div class="mb-2">
    <a href="mailto:luciacarletta2016@gmail.com" rel="noopener noreferrer" aria-label="Email">
      <i class="fa-solid fa-square-envelope fa-2xl"></i>
    </a>
  </div>

  <div>
    <a href="https://www.google.com.ar/maps/place/Lucia+Carletta+Estudio+Pilates/@-31.419942,-64.497582,17z/data=!3m1!4b1!4m6!3m5!1s0x942d676d75facac7:0xcd642bd94f9f9bb9!8m2!3d-31.419942!4d-64.4950071!16s%2Fg%2F11rrpxt38m?hl=es&entry=ttu&g_ep=EgoyMDI1MDYyMy4yIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer" aria-label="Maps">
      <i class="fa-solid fa-location-dot fa-2xl"></i>
    </a>
  </div>
</div>


<app-footer></app-footer>

