<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block">
      <h2>Te cuento un poco sobre las clases...</h2>
      <p>Aquí el/la instructor/a explica cómo se desarrolla cada clase, qué técnicas se utilizan y cómo se adapta el contenido a las necesidades de cada alumno.</p>
    </div>  
    <div class="text-block">
      <h2>Porque sos quien más importa...</h2>
      <p>Mis clases son ...
      </p>
    </div>
    <div class="text-block">
      <h2>Escucha tu cuerpo...</h2>
      <p> Escribimos algo alusivo al cuidado del cuerpo.</p>
      <p>Únete a mí  .... Te espero!</p>
    </div>
    <div class="volver-inicio">
      <button (click)="volverAlInicio()">Volver a Inicio</button>
    </div>
  </div>
</section>

