<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block">
      <h2>Te cuento un poco sobre las clases...</h2>
      <p>En mis clases, te propongo un espacio de encuentro contigo mismo, diseñado para que la experiencia de Pilates sea verdaderamente transformadora.
      <p>Trabajo con grupos reducidos de hasta 5 alumnos para garantizar una atención personalizada. De esta forma, cada sesión se adapta a las necesidades de tu cuerpo y te permite progresar de manera segura y efectiva respetando los niveles de cada uno </p>
      <p>Durante una hora, iremos descubriendo progresivamente los principios del Pilates Clásico. Utilizaremos elementos como el mat, el reformer y el corrector espinal para profundizar en la conexión mente-cuerpo, fortalecer tu centro y mejorar tu postura, tal como lo ideó su creador, Joseph Pilates.</p>
      <p>Este enfoque sistemático te permitirá no solo ejecutar los movimientos con precisión y control, sino también sentir la fluidez y la centralización que hacen del Pilates un método único para vivir en movimiento.</p>
      <p>Te invito a unirte a un grupo donde cada paso cuenta y donde el objetivo es que redescubras el potencial de tu propio cuerpo.</p>
    </div>
    <div class="text-block">
      <h2>Porque sos quien más importa...</h2>
      <p>Mis clases son personalizadas y se adaptan a las necesidades y objetivos de cada alumno. Trabajo de manera individualizada, teniendo en cuenta tus características físicas, tu nivel de experiencia y tus metas personales.
      <p>Aquí no solo entrenamos el cuerpo.</p>
      <p>Aquí respiramos, nos movemos y nos encontramos con nuestra mejor versión.</p>
      <p>Cada movimiento es libertad,</p>
      <p>cada respiración es fuerza,</p>
      <p>cada práctica es un recordatorio de que estás vivo y en equilibrio.</p>
      <p>Este es tu espacio,</p>
      <p>tu momento,</p>
      <p>tu camino hacia una vida más consciente y plena.</p>
    </div>
    <div class="text-block">
      <h2>Escucha tu cuerpo...</h2>
      <p>El ritmo de la vida moderna a menudo nos desconecta de nuestra propia esencia, haciendo que olvidemos que estamos diseñados para movernos. El método Pilates es mucho más que un ejercicio: es un puente que te conecta con tu propio cuerpo, permitiéndote descubrir la fuerza que hay en ti. Es un camino hacia la sanación, donde cada estiramiento y cada respiración te enseñan a escuchar lo que tu cuerpo necesita.</p>
      <p>Mi mensaje es simple y directo: ¡muévete! No importa tu edad o tu condición física, siempre hay un punto de partida. A través de mis clases, te invito a explorar cómo el movimiento puede convertirse en tu mejor aliado, no solo para mejorar tu bienestar físico, sino para encontrar una nueva forma de vivir.
      </p>
      <p>Únete a mí y descubramos juntos cómo el movimiento nos cura y nos impulsa a vivir con mayor vitalidad.¡Te espero!</p>
    </div>
    <div class="volver-inicio">
      <button (click)="volverAlInicio()">Volver a Inicio</button>
    </div>
  </div>
</section>

