<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block">
      <h2>Mereces sentirte bien</h2>
    </div>
    <div class="text-block">
      <p>
      Mi compromiso es ofrecerte un espacio donde priorices tu bienestar,
      aprendiendo a moverte y a cuidar tu cuerpo y tu mente de forma sencilla y guiada.
      </p>
      <p class="firma">Lucía Carletta</p>
    </div>
    <div class="text-block">
      <a (click)="irAlLogin()" class="hero-btn" role="button">Comienza aquí</a>    
    </div>
  </div>
</section>