<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block">
      <h3>Hacé una pausa, respirá y reconectá con tu yo interior en un espacio pensado para tu bienestar.</h3>
    </div>
    <div class="text-block">
      <p>
      Aquí encontrarás un lugar donde compartir, aprender y transformar tu bienestar físico y emocional a través de la práctica consciente de pilates.
      </p>
      <p class="firma">Demo Agenda Pilates</p>
    </div>
    <div class="text-block">
      <a (click)="irAlLogin()" class="hero-btn" role="button">Comienza aquí</a>    
    </div>
  </div>
</section>