<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block">
      <h1>EL ORIGEN DE PILATES</h1>
      <P>
      Con el objetivo de estirar, fortalecer y equilibrar la postura corporal, esta actividad física se creó a mediados del siglo XX y desde entonces ha ganado adeptos en todo el mundo.
      </P>
      <p>
      La importancia de la actividad física para una rutina saludable ya se ha demostrado científicamente en varios estudios. Pero qué tipo de ejercicio es el más adecuado e interesante para cada persona es algo muy particular. Entre las diversas opciones disponibles, hay una que ha destacado y crecido en las últimas décadas entre los más variados sectores de la población: <a href="https://www.nationalgeographicla.com/historia/2024/09/el-origen-de-pilates-conoce-cuando-y-como-se-creo-este-popular-metodo-de-entrenamiento" target="_blank" rel="noopener noreferrer">pilates</a>.
      </p>
      <p>
      Creado con el objetivo de ser un sistema de ejercicios para estirar, promover la movilidad, fortalecer los músculos y restaurar el equilibrio del cuerpo, el pilates ha ganado adeptos en todo el mundo y su creación está ligada al nombre de su inventor. 
      </p>
    </div>
    <div class="text-block text-block-flex">
      <h2>¿Quién fue el creador de pilates?</h2>
      <div class="creador-flex">
        <img src="assets/fotos/joseph-pilates-retrato-joven-color.jpg" alt="Joseph" class="img-joseph">

        <div class="creador-texto">
          <p>
            El método de ejercicios conocido hoy como pilates fue creado a mediados del siglo XX por
            <a href="https://www.corepilatesenergycenter.com/biografia-joseph-pilates/" target="_blank" rel="noopener noreferrer">Joseph H. Pilates</a>, quien nombró originalmente su método como "Contrología", porque hacía hincapié en el uso de la mente para controlar el cuerpo.
          </p>
          <p>
            Joseph H. Pilates nació el 9 de diciembre de 1883 en la pequeña ciudad de Mönchengladbach, Alemania, y afirmó haber sufrido desgaste muscular en la infancia debido a enfermedades como el asma, la fiebre reumática y el raquitismo. Para combatir los efectos debilitantes de sus enfermedades, en su juventud practicó gimnasia y otras actividades físicas, como levantamiento de pesas y yoga. También estudió varios tipos de ejercicio y se enamoró del ideal griego clásico de equilibrar cuerpo, mente y espíritu.
          </p>
        </div>
      </div>

    </div>
    <div class="volver-inicio">
      <button (click)="volverAlInicio()">Volver a Inicio</button>
    </div>
  </div>
</section>

