<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block">
      <h1>Reglamento del Estudio</h1>
      <p>Para garantizar un ambiente de respeto, orden y bienestar en nuestras clases presenciales, te pedimos tener en cuenta las siguientes normas básicas:</p>

      <ul>
          <li><strong>1. Puntualidad:</strong>  
            Te pido que llegues al menos 5 minutos antes de la clase para que podamos comenzar a tiempo y aprovechar al máximo nuestra sesión.
          </li>
          <li><strong>2. Ingreso y egreso:</strong> 
            El ingreso de un turno a la sala se realizará luego de que el anterior haya terminado y abandonado la misma. Cuando hayas terminado una clase no te demores en salir ya que habrá gente esperando para ingresar fuera del estudio.
          </li>
          <li><strong>3. Asistencia y cancelaciones:</strong>  
            Las reservas deben realizarse previamente por el sistema online. En caso de no poder asistir, se debe cancelar con un mínimo de 2 horas de anticipación para no perder el turno.
          </li>
          <li><strong>4. Recuperaciones:</strong>  
            Las recuperaciones deben reservarse previamente por el sistema online, utilizando los lugares libres disponibles dentro del nivel correspondiente, dentro del mes corriente y pueden hacerse hasta 1 hora antes del horario de la clase.
          </li>
          <li><strong>5. Pagos:</strong>  
            Los pagos de los planes deben realizarse de manera anticipada y se debe abonar el plan en su totalidad. No se aceptarán pagos parciales.
          </li>
          <li><strong>6. Cuidado personal:</strong>  
            Es obligatorio asistir con el <strong>cabello atado</strong>, ropa cómoda, deportiva, que te permita moverte con libertad pero que no sea muy holgada ya que ello impedirá que visualice correctamente tu trabajo.
          </li>
          <li><strong>7. Objetos:</strong>  
            Asiste sin alhajas, botones, cierres o broches de pelo que pueden dañar los elementos o lastimarte al generar presión.
          </li>
          <li><strong>8. Calzado:</strong>  
            Se recomienda practicar descalzo o con medias antideslizantes, <strong>sin calzado y sin talco</strong>.
          </li>
          <li><strong>9. Celulares y dispositivos:</strong>  
            Durante la clase, los celulares deben estar en modo silencio o apagados para evitar interrupciones.
          </li>
          <li><strong>10. Niños:</strong>  
            Estar en esta sala es tu momento de desconexión y está diseñada para adultos, por tal motivo, no se permite la presencia de niños que puedan interrumpir tu práctica.
          </li>
          <li><strong>11. Respeto mutuo:</strong>  
            Se espera un trato respetuoso entre alumnas/os, así como hacia la profesora y el espacio del estudio.
          </li>
          <li><strong>12. Salud y condiciones físicas:</strong>  
            Informar a la profesora sobre cualquier condición médica, lesión o situación especial antes de comenzar la clase.
          </li>
        </ul>
        <h5><strong>Cada recomendación está pensada para que tengas una experiencia positiva en tus prácticas ya que valoramos tu presencia y tu tiempo.</strong></h5>
    </div>
    <div class="volver-inicio">
      <button (click)="volverAlInicio()">Volver a Inicio</button>
    </div>
  </div>
</section>
