<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block">
      <h1>Reglamento del Estudio</h1>
      <p>Para garantizar un ambiente de respeto, orden y bienestar en nuestras clases presenciales, te pedimos tener en cuenta las siguientes normas básicas:</p>

      <ul>
          <li><strong>1. XXXXXXX:</strong>  
            ...
          </li>
          <li><strong>2. XXXXXXX:</strong> 
            ...
          </li>
          <li><strong>3. XXXXXXX:</strong>  
            ...
          </li>
          Se listan las normas de convivencia, puntualidad, higiene, uso del material, respeto por los demás, sistema de reservas, pagos, etc.
        </ul>
        <h5><strong>Cada recomendación está pensada para que tengas una experiencia positiva en tus prácticas ya que valoramos tu presencia y tu tiempo.</strong></h5>
    </div>
    <div class="volver-inicio">
      <button (click)="volverAlInicio()">Volver a Inicio</button>
    </div>
  </div>
</section>
