
/* ------------------ CONFIGURACIÓN GENERAL ------------------ */
:root {
  --header-h: 84px; /* valor de respaldo inicial */
}
/* Compensa anclas y desplazamientos con header fijo */
html { scroll-padding-top: var(--header-h); }

/* Si navegás a #ids concretos, que no queden tapados */
[id] { scroll-margin-top: var(--header-h); }


html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ------------------ CUERPO Y FONDO ------------------ */

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: auto; /* ✅ debe permitir scroll horizontal */
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('assets/fotos/estudio-vacio.jpg');
  background-repeat: no-repeat;      /* Evita que la imagen se repita */
  background-size: cover;            /* Hace que la imagen cubra todo el contenedor */
  background-position: center 90%; /*sube la imagen hacia  */
  background-color: rgba(255,255,255,0.2); /* Blanco semitransparente encima */
  background-blend-mode: lighten;
}


/* Opcional: fondo para toda la app si usás un div raíz */
app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

/* ------------------ CONTENIDO PRINCIPAL Y FOOTER ------------------ */
main.container {
  flex-grow: 1; 
  padding-bottom: 0;
  padding-top: var(--header-h); /* Elimina el padding si hay el sticky footer */
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* ------------------ RESPONSIVE FOOTER ------------------ */

@media (max-width: 768px) {
  footer {
    position: static;
  }

body,
main.container {
    padding-bottom: 0;
  }
}

/* ------------------ TABLA RESPONSIVE (AGREGADO CLAVE) ------------------ */

.table-container {
  width: 100%;
  overflow-x: visible;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 6px 6px;
  text-align: center;
  font-size: 14px;

}

@media screen and (max-width: 480px) {
  .table-container {
    padding: 5px;
  }

  table {
    font-size: 12px;
  }
}

/* Clase personalizada para achicar el modal dele Swal */
.my-custom-popup {
  font-size: 14px;         /* texto más chico */
  padding: 12px;           /* menos espacio */
  border-radius: 10px;     /* bordes más redondeados */
}