<section class="parallax-section">
    <div class="parallax-content">
        <div class="text-block">  
            <h1>Planes Pilates</h1>
            <p>Los lugares se reservan únicamente realizando el abono del plan completo dentro de <strong>los X días (condición estipulada por el estudio)</strong> de vencido el plan anterior, caso contrario (las condiciones y políticas del estudio).
            </p>
        </div>
        <div class="text-block">
            <div class="planes-list">
                <div class="plan-item">
                <span class="plan-name">Clase prueba o suelta</span>
                <span class="plan-price">{{ formato(precios['suelta']) }}</span>
                </div>
                <div class="plan-item">
                <span class="plan-name">4 clases</span>
                <span class="plan-price">{{ formato(precios['4']) }}</span>
                </div>
                <div class="plan-item">
                <span class="plan-name">8 clases</span>
                <span class="plan-price">{{ formato(precios['8']) }}</span>
                </div>
                <div class="plan-item">
                <span class="plan-name">12 clases</span>
                <span class="plan-price">{{ formato(precios['12']) }}</span>
                </div>
            </div>
        </div>
        <div class="text-block">            
            <div class="transferencia-info">
                <strong>Alias para transferencias:</strong>
                demoagendapilates
            </div>
        </div>
        <div class="volver-inicio">
            <button (click)="volverAlInicio()">Volver a Inicio</button>
        </div>
    </div>  
</section>







