<section class="parallax-section">
  <div class="parallax-content">
    <div class="text-block text-block-flex">
      <h2>Bienvenid&#64;!</h2>
      <h4>Hola... Soy  (nombre del instructor/a)...</h4>
      <div class="lucia-flex">
        <img src="assets\fotos\foto-instructor.jpg" alt="Foto Instructor" class="img-instructor">
        <p>Aqui se escribe el curriculum de la/el instructor/a del estudio.
        </p>
      </div>
    </div>
    <div class="text-block">
      <p>Me forme en ...
      </p>
      <p>Me especialice en...
      </p>
    </div>
    <div class="text-block">
      <p>...</p>
    </div>
    <div class="volver-inicio">
      <button (click)="volverAlInicio()">Volver a Inicio</button>
    </div>
  </div>

</section>
